/*
* ----------------------------------------------------------------------------------------
Author       : Mannat Themes
Template Name: Ultra - Responsive Resume & CV Template
Version      : 1.0
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 01.BAGIC CSS STYLE
* 02.PRELOADER CCS STYLE
* 03.NAVABAR CSS STYLE
    -LOGO CSS
* 04.MAIN CONTAINER CSS STYLE
* 05.ABOUT CSS STYLE
* 06.SKILLS CSS STYLE
* 07.EDUCATION & EXPERIENCE CSS STYLE
* 08.Portfolio CSS STYLE
* 09.CONTACT CSS STYLE
* 10.FOOTER CSS STYLE
* 11.RESPONSIVE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

html,
body {
    height: 100%
}
/*========== 01 BAGIC==========*/

body {
    line-height: 24px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: #eee;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
}
.btn-custom,.btn-custom:hover {
    border: transparent;
    color: #fff;
    font-weight: 500;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
    padding: 12px 24px 12px 24px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.container-fluid{
    width: 100%;
    height: 100%;
    background: #eee;
    padding: 0;
}

.bb-item,.bb-page > div,
.bb-outer,
.bb-content,
.bb-inner {
    background: #eee;
}

.header-text h2 {
    color: #000;
    font-size: 32px;
    text-transform: capitalize;
}

.header-text p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.section-title {
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
}

.title-border{
    height: 2px;
    width: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.title-border::before{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: -6px;
    border-radius: 8px;
    top: -3px;
}
.title-border::after{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    right: -6px;
    border-radius: 8px;
    top: -3px;
}

/*==========/BAGIC==========*/

  
/*========== 02 PRELOADER==========*/

.pace {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 18px;
    background-color: #fff;
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-transition: width 1s ease-in-out 1s linear;
    -moz-transition: width 1s ease-in-out 1s linear;
    -ms-transition: width 1s ease-in-out 1s linear;
    -o-transition: width 1s ease-in-out 1s linear;
    transition: width 1s ease-in-out 1s linear;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 190px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 8px;
    font-size: 12px;
    line-height: 60px;
    font-weight: 500;
}
.cover{
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1999;
}

.pace .pace-progress:after {
    content: attr(data-progress-text);
    display: block;
    text-align: center;
}

.pace.pace-inactive {
    display: none;
}

/*========== /PRELOADER==========*/


/*========== 03 navbar==========*/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    border: 0;
    z-index: 200;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.navbar-nav {
    margin: 0 auto; 
}
.navbar-nav li a {
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    font-size: 14px;
    letter-spacing: 0.04em;
}
.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #fff; 
}
.navbar-brand {
    font-size: 26px;
    color: #FFF !important;
    height: auto;
    line-height: 40px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f5f5f5;
    background-color: rgba(255, 255, 255, 0.25);
}

.navbar-default .navbar-toggle {
    border: 2px solid rgba(255, 255, 255, 0.42);
    background-color: transparent !important;
    margin-top: 18px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

/*= logo=*/

.logo {
    padding-bottom: 23px;
    padding-top: 23px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: block;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

/*= /logo=*/

/*========== /navbar==========*/



/*========== 04 main container==========*/
.bb-custom-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 70px;
}
.bb-custom-wrapper .bb-bookblock {
    width: 100%;
    height: 100%;
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    perspective: 2000px; 
}
.card-box {
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 30px;
}
/*========== /main container==========*/


/*========== 05 about==========*/
.header-text img {
    width: 200px;
   height: 200px;
}

.introduce h2 {
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    font-size: 20px;
}

.introduce p {
    margin-bottom: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.introduce h4 {
    color: #0288d1;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.introduce .presonal-inform ul li {
    width: 50%;  
}

.introduce .presonal-inform li b {
    width: 120px;
    text-transform: capitalize;
    color: #1f2124;
    font-size: 15px;
}

.introduce .presonal-inform li {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
     margin-bottom: 20px;
}
.presonal-inform{
    padding-top: 30px;
    line-height: 30px;
}
.presonal-inform li {
    padding: 5px 0;
}
.presonal-inform i{
    font-size: 21px;
    padding-right: 10px;
    padding-top: 4px;
    float: left;
}
/*========== /about==========*/


/*========== 06 skill==========*/


.skill-chart {
    margin: 0px auto;
    color: #000;
}
.skill i {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px;
}
/*========== /skill==========*/


/*========== 07 education & experience==========*/
.rs-round {
    content: "";
    position: absolute;
    text-align: center;
    height: 120px;
    line-height: 120px;
    width: 120px;
    border-radius: 50%;
    left: 0px;
    margin-left: -60px;
    border: 10px solid rgba(255, 255, 255, 0.48);  
}

.rs-round i {
    color: #fff;
    font-size: 30px;
}
.time-line {
    position: relative;
}
.time-line:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    width: 2px;
    margin: 0 auto;
    height: 80%;
    top: 15px;
}
.rex-item{
    padding-left: 0px;
    text-align: left;
    margin-left: 130px;
    padding-top: 7px;
}

.rex-item h3 {
    font-size: 22px;
}
.rex-item h4 {
    font-size: 17px;
    color: #4c5667;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;   
}

.rex-item p {
    line-height: 24px;
    font-size: 14px;
}

.rex-left {
    padding-right: 80px;
    text-align: right;
}

.rex-right {
   
    text-align: left;
}

.time-line .colam {
    margin-bottom: 80px; 
}

.rs-round.second {
    right: 0 !important;
    left: auto !important;
    margin-right: -60px !important;
}

.colam-tird {
    margin-bottom: 0px;
}

/*========== /education & experience==========*/


/*========== 08 portfolio==========*/

 
#work .lrs-list-protfolio {
        text-align: center;
}
#work .lrs-list-protfolio .fil-cat {
        margin: 0 15px;
        padding: 0;
        font-weight: 500;
        cursor: pointer;
}

#work .lrs-projects {
        margin-top: 30px;
        position: relative;
        -webkit-column-count: 3;
        /* Chrome, Safari, Opera */
        -moz-column-count: 3;
        /* Firefox */
        column-count: 3;
        -webkit-column-gap: 16px;
        /* Chrome, Safari, Opera */
       -moz-column-gap: 16px;
        /* Firefox */
        column-gap: 16px;
}
#work .lrs-projects .lrs-project {
        position: relative;
        cursor: pointer;
        padding: 8px 0;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
}
#work .lrs-projects .lrs-project .lrs-project-image {
        position: relative;
}
#work .lrs-projects .lrs-project .lrs-project-image * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.45s ease;
        transition: all 0.45s ease;
}
#work .lrs-projects .lrs-project .lrs-project-content {
        opacity: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.72);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 15px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
}
#work .lrs-projects .lrs-project .lrs-project-content .lrs-project-title {
        margin-top: -50px;
        text-transform: uppercase;
}
#work .lrs-projects .lrs-project .lrs-project-content .lrs-project-client {
        margin-top: 100px;
}
#work .lrs-projects .lrs-project:hover .lrs-project-content {
        opacity: 1;
}
#work .lrs-projects .lrs-project:hover .lrs-project-content .lrs-project-client,
#work .lrs-projects .lrs-project:hover .lrs-project-content .lrs-project-title {
        margin-top: 0;
}
/*========== /portfolio==========*/


/*========== 09 contact==========*/

.form-control {
    border: 0px;
    height: 45px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border-bottom: 2px solid #e2e2f1;
    box-shadow: none  !important;
    outline: none !important;
    margin-bottom: 25px;
    border-radius: 0;
}

.form-control:focus {
    outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.success {
    background: #50B948 none repeat scroll 0 0;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/*========== /contact==========*/


/*========== 10 footer==========*/

.footer-p-t-20 {
    padding-top: 20px;
}

.social-links ul {
    padding: 0;
    margin: 0;
}

.social-links ul li {
    display: inline-block;
}

.social-links ul li a {
    font-size: 18px;
    color: #222222;
    margin: 10px 5px;
    display: block;
}
.header-links {
    margin-bottom: 30px;
}
.header-links ul li a {
    color: #fff;
    background: #263238;
    height: 36px;
    width: 36px;
    text-align: center;
    border-radius: 4px;
    line-height: 36px;
    font-size: 14px;
}


/*========== /footer==========*/


/* ==========RESPONSIVE.========== */

@media only screen and (max-width: 767px) {

    .logo a {
        text-align: center;
    }
    .navbar-default .navbar-nav > li > a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .header-text p {
        font-size: 16px;
        padding: 0;
        line-height: 28px;
    }
    .header-text .home-arrow-down {
        bottom: -90px;
    }
    .introduce .presonal-inform ul li {
        width: 100%;
    }
    .section-title h2 {
        font-size: 30px;
    }
     #work .lrs-projects {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

    .time-line {
        position: relative;
    }
    .time-line:before {        
        margin-left: 52px;
    }
    .rex-item h3 {
        font-size: 20px;
    }
    .rex-item h4 {
        font-size: 15px;
    }
    .rex-item p {
        font-size: 13px;
    }
    .rex-left {
        padding-right: 15px;
        text-align: right;
    }
    .rex-right {
        padding-left: 15px;
    }
    .rex-item {
        padding-left: 0px;
        text-align: left;
        margin-left: 130px;
    }
    .rs-round {
        left: 15px;
        margin: 0px !important;
        height: 105px;
        line-height: 105px;
        width: 105px;
    }
    .rs-round.second {
        margin: 0px !important;
        left: 15px !important;
        right: 0px !important;
    }
    .item .grid figure,
    .work .grid figure {
        min-width: 100%;
    }
     #work .lrs-projects {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }
} 
    
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .resume-left h2 {
        width: 130px;
    }
    .navbar-nav li a {
        text-transform: uppercase;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
        font-size: 10px;
        letter-spacing: 0.04em;
    }
} 
@media only screen and (max-width: 420px) {
    #work .lrs-projects {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

} 




